*{
    font-family: system-ui;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #172a37;
    color: #f2f2f2;
    padding: 20px 22px;
    font-weight: 400;
   
}
.Branding{
    display: flex;
    gap:12px;
    align-items: center;
    justify-content: center;
}
.brand-image{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: rgb(35, 147, 245);
    

}
nav,nav ul{
    display: flex;
    justify-content: center;
    gap:50px;
    text-wrap: nowrap;
    
   
}
nav a{
    text-decoration: none;
    color: #f2f2f2;
}
ul{
    align-items: center;
    list-style: none;

}
.resumebtn{
    background-color: #172a37;
    border: 1px solid #f37021;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Explorin/images/background.svg);
    flex-wrap: wrap;
    background-size: cover;
}
.hero{
    display: flex;
    justify-content: space-between;
    background-color: #172a37;
    padding: 18px 78px;
}
.hero .details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 50%;
    PADDING-TOP: 100PX;
}
.hero .user-image{
    width: 440px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}
.hero .user-image-background{
width: 100%;
height: auto;
background-color: #172a37;
}

.hero .user-image-foreground{
width: 12%;
position: absolute;
border-radius: 50%;
z-index: 2;
}

.skills{
    padding: 55px 70px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}


.skills .description{
    font-size: large;
    font-weight: 600;
}

.skills .skill-icon{
    width: 30px;
    height: 30px;
}

.skills .skill-name{
    font-size: 18px;
    font-weight: 500;
}

.skills .skillsets{
    display: flex;
    flex-wrap: wrap;
    padding: 38px 48px;
    border: 1px solid #172a37;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
    border-radius: 14px;
    box-shadow: 0px 1px 7px #00000040;
    
}

.skills .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    padding: 8px 18px;
    border: 1px solid #f37021;
    border-radius: 10px;
}

.placement{
    padding: 55px 70px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.project{
     padding: 55px 70px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.cardset{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card1{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    background-color: aliceblue;
}

.Seriesbtn{
    padding: 8px 10px;
    color: white;
    background-color: #f37021;
    border: 1px solid #f37021;
    border-radius: 7px;
}

.card2{

    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    background-color: aliceblue;
}

.projectimg{
    height: 25vh;
   
}

.Eduset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.Educard{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    /* flex-wrap: wrap;     */

    margin: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 20px;
}
.Edutext{

    display: flex;
    flex-direction: column;
}
.Edulogo1{
    height: 50px; 
    width: 50px;
}

.Eduset h3{
    font-size: medium;
}
.Eduset span{
    font-size: small;
}
footer{
background-color: #172a37;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap:25px;
color: white;
padding: 30px;
}
.links{
    display: flex;
    flex-direction: row;
    
}
.links a{
    display: flex;
    flex-direction: row;
   color: white;
   text-decoration: none;
   margin: 5px;
   border: 2px solid #f37021;
   padding: 10px;
   border-radius: 10px;
    
 }
.logolink{
height: 20px;
width: 20px;

}
